 /* Reset default margin and padding for the entire page */
 body {
    background-image: url('https://th-i.thgim.com/public/incoming/i0htek/article66711369.ece/alternates/FREE_1200/PTI03_20_2023_000169A.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
  }

  img{
    opacity: 0.6;
  }
  /* Style for the registration form container */
  .form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  /* Style for the form elements */
  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 3px solid;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: nones;
  }

  .form-group button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
  }
.form-group .submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px solid;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
}
.form-group .log-in {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #126ec4;
    border: none;
    color: white;
    font-weight: bold;
}
.form-group .submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #12c430;
  border: none;
  color: white;
  font-weight: bold;
}
